@tailwind base;
@tailwind components;
@tailwind utilities;

/* Morion */
@font-face {
    font-family: 'Morion';
    src: url('../../assets/fonts/Morion-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Morion-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Questa Sans */
@font-face {
    font-family: 'Questa Sans';
    src: url('../../assets/fonts/QuestaSans-Regular.woff2') format('woff2'),
        url('../../assets/fonts/QuestaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

/* Base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-secondary;
}

p,
a {
    @apply font-primary;
}

/* Accordion */
.accordion {
    button[aria-expanded='true'] {
        + .accordion-content {
            opacity: 1;
            max-height: min-content;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }
    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }
}

/* Form */
.form-section {
    .custom-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 0 auto;
        border-radius: 8px;
    }

    .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row.full-width {
        grid-column: span 2;
    }

    .form-row.half-width {
        grid-column: span 1;
    }

    label {
        font-family: Questa Sans, sans-serif;
        margin-bottom: 8px;
        color: #08201e;
    }

    input,
    textarea {
        font-family: Questa Sans, sans-serif;
        border: none;
        border-bottom: 1px solid #08201e;
        padding: 8px 8px 8px 0;
        outline: none;
        background: transparent;
    }

    textarea {
        font-family: Questa Sans, sans-serif;
        resize: none;
        height: 100px;
    }

    button {
        font-family: Morion, serif;
        font-size: 18px;
        grid-column: span 2;
        padding: 10px 20px;
        background-color: #08201e;
        color: #dae2cc;
        border: none;
        cursor: pointer;
        grid-column: span 1;
        grid-column-start: 2;
        border-radius: 99999px;
    }

    button:hover {
        background-color: #39524f;
    }

    p {
        font-family: Questa Sans, sans-serif;
        margin-top: 8px;
    }
}

/* Ratings */
.icon {
    width: 16px;
    height: 16px;
    margin-bottom: 16px;
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z' fill='%2339524F'/></svg>")
        no-repeat center center;
    background-size: contain;
}

/* SwiperJS */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 740px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #39524f !important;
}

.swiper-button-next {
    right: 16px !important;
}

.swiper-button-prev {
    left: 16px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #39524f !important;
}
